
.left{
    color:#000000;
    height:100vh;
    background: rgb(13, 12, 24);
    border-right: 4px solid rgba(51, 58, 117, 0.226);
}
.right{
    display:flex;
    flex-direction: column;
    color:#000000;
    height:100vh;
    background-image: url(./chatbg.png);
    background-size: cover;
    background-position: center;
    
}